body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 26px;
}

a {
	color: white;
	text-decoration: none;
}

b {
	font-weight: 400;
}

.content {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0;
}


/* White sections */

.white {
	background-color: white;
}

.white p {
	color: #777777;
}

.white h2 {
	color: #666666;
	margin-bottom: 60px;
}


/* Brown sections */

.brown {
	background-color: #443333;
	color: white;
	margin: 0 auto;
}

.brown p {
	color: #cccccc;
}

.brown h1 {
	color: #eeeeee;
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.brown h2 {
	font-size: 26px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.brown h3 {
	font-weight: inherit;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0px;
}


/* Menu */

.menu-button {
	display: block;
	width: 210px;
	padding: 14px 0;
	margin: 0 auto;
	border: 1px solid white;
	border-radius: 4px;
}

.menu-button:first-child {
	background-color: #365529;
}

.menu-item {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 20px;
}

.menu-item img {
	border-radius: 10px;
	width: 300px;
	height: 200px;
}

.menu-item > div {
	position: relative;
    top: -80px;
	text-align: left;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
}

.menu-item > div > a {
	line-height: 30px;
	margin: 10px;
	border-bottom: 1px white dotted;
}


/* Events */

.event-button {
	display: block;
	width: 180px;
	padding: 14px 0;
	margin: 20px auto;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #0e0a0a;
}

.upcoming-event-img, .past-event-img {
	display: inline-block;
	border: 0.5px #999999 solid;
}

.upcoming-event-img {
	width: 160px;
	height: 160px;
}

.past-event-img {
	width: 80px;
	height: 80px;
}


/* Contact us */

.contact-form {
	width: 800px;
	margin: 70px auto 0 auto;
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.contact-form input[type=text], .contact-form textarea, .book-a-table-form input[type=text], .book-a-table-form textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.contact-form input[type=text] {
	width: 100%;
	height: 40px;
	padding: 6px 16px;
}

.contact-form textarea {
	width: 100%;
	height: 200px;
	margin-top: 16px;
	padding: 16px;
}

.contact-form ul {
	list-style-type: none;
	margin-top: 22px;
}

.contact-form ul li input {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	padding: 18px 0;
	margin: 0 auto;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.contact-form ul li input[type=submit] {
	float: right;
	color: white;
	background-color: #3d3d3d;
	width: 220px;
}

.contact-form ul li input[type=reset] {
	float: left;
	color: #999999;
	background-color: white;
	width: 200px;
}

/* Book a table */

.book-a-table {
    background-image: url(/images/book-table.jpg);
    height:450px;
    background-position: center;
}

.book-a-table-form-container {
    width: 40%;
    height:440px;
    margin: 0 auto;
    padding-top: 10px;;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-a-table-form {
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.book-a-table-form input[type=text] {
    width: 100%;
	height: 40px;
    padding: 0 0 0 0;
    margin: 12px 0 0 0;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.book-a-table-form textarea {
	width: 100%;
	height: 130px;
	margin-top: 16px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.book-a-table-form input[type=text], .book-a-table-form textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

#btn-book {
	color: white;
	background-color: #3d3d3d;
	width: 120px;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

/* Opening hours */
.opening-hours > div > p {
    
}

/* Footer */

.footer {
    margin: 50px auto 200px;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;    
    font-family: inherit;
    font-size: 15px
}

.footer ul li {
    display: inline-block;
    color: #777777;
}

.opening-hours {
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2; 
    width: 60%; 
    margin:0 auto; 
    color: #777777;
}