body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 26px;
}

a {
	color: white;
	text-decoration: none;
}

b {
	font-weight: 400;
}

/* White sections */

.white {
	background-color: white;
	padding: 50px 0 40px 0;
}

.white > * {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
}

.white p {
	color: #777777;
}

.white h2 {
	color: #666666;
}

/* Brown sections */

.brown {
	background-color: #443333;
	color: white;
	margin: 0 auto;
	padding: 70px 0 30px 0;
}

.brown p {
	color: #cccccc;
}

.brown h2 {
	font-weight: inherit;
	font-size: 16px;
}

.brown h2 {
	margin-top: 5px;
	margin-bottom: 0px;
}

.brown h3 {
	color: #eeeeee;
	margin-bottom: 0px;
}

.brown > * {
	width: 1000px;
	margin: 0 auto;
}

/* Menu */

.menu-button {
	display: block;
	width: 210px;
	padding: 14px 0;
	margin: 0 auto;
	border: 1px solid white;
	border-radius: 4px;
}

.menu-button:first-child {
	background-color: #365529;
}

.menu-item {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 20px;
}

.menu-item img {
	border-radius: 10px;
	width: 300px;
	height: 200px;
}

.menu-item > div {
	position: relative;
    top: -80px;
	text-align: left;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
}

.menu-item > div > a {
	line-height: 30px;
	margin: 10px;
	border-bottom: 1px white dotted;
}

/* Events */

.event-button {
	display: block;
	width: 180px;
	padding: 14px 0;
	margin: 0 auto 30px auto;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #0e0a0a;
}

.upcoming-event-img, .past-event-img {
	display: inline-block;
	border: 0.5px #999999 solid;
}

.upcoming-event-img {
	width: 160px;
	height: 160px;
}

.past-event-img {
	width: 80px;
	height: 80px;
}