body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 26px;
}

a {
	color: white;
	text-decoration: none;
}

b {
	font-weight: 400;
}

.content {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0;
}


/* White sections */

.white {
	background-color: white;
}

.white p {
	color: #777777;
}

.white h2 {
	color: #666666;
	margin-bottom: 60px;
}


/* Brown sections */

.brown {
	background-color: #443333;
	color: white;
	margin: 0 auto;
}

.brown p {
	color: #cccccc;
}

.brown h1 {
	color: #eeeeee;
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.brown h2 {
	font-size: 26px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.brown h3 {
	font-weight: inherit;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0px;
}

/* Menu */
#menuWrapper{
    background-color:#F8F8F8;
    width:100%;
    height:120px;
    position:fixed;
    top:0%;
    z-index:1000;
}
#nav li{
display: inline-block;
width:24%;
text-align:center;
 font: 1em Kreon;
}
.leftMenuLink{
text-align:left !important;
}
.rightMenuLink{
text-align:right !important;
}
#menuelements {
width:90%;
margin:40px auto;
}
#logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  width:130px;
  padding:0;
}

#nav a{
 text-decoration: none;
 color: black;
 font-size: 2em;
}
#nav {
margin:0 auto;
}

#headerWrapper {
	position:relative;
    background: url("../../images/header.jpg") no-repeat center; 
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    font-size: 70px;
    text-align: center;
}
#restourantName {
width:100%;
line-height:120%;
position:relative;
top:35%;
left:0px;
color:white;
background-color:black;
}
#bookATable {
position: absolute;
top: 55%;
transform: translate(-50%, 0);
width:200px;
height:50px;
border: 2px solid white;
border-radius:5px;
background-color: black;
opacity: 0.8;
color:white;
font-size:18px;
line-height:50px;
}

/* First About */

.sectionpart, .sectionpartPicture, .menusectionpart {
width:70%;
margin: 70px auto;
}
.sectionpart h2, .sectionpartPicture h2 {
color: #666666;
padding-bottom:40px;
text-align:center;
font-size:2em;
}
.sectionpartPicture h2 {
padding-top:50px;
font-weight:200;
color: white;
}
.sectionpartPicture h2, .sectionpartPicture p {
text-shadow: 2px 1px black;
}
.sectionpart p, .sectionpartPicture p {
text-align:center;
font-size:1em;
color: #777777;
}
.sectionpartPicture p {
color:white;
}
.sectionpartPicture {
width:100% !important;
 background: url("../../images/small1.jpg") no-repeat center;
 background-size:100%;
 height: 300px;
 line-height:80px;
}


/* Brown Menu */

.menusectionpart h2 {
font-size:1.5em;
margin-bottom:20px;
color: #d2d7d4;
}
.menusectionpart h3 {
font-size:0.9em;
margin-bottom:10px;
color: #d2d7d4;
}
.menusectionpart {
background-color:#443333;
width:100%;
color:white;
}
#menusectionpartContent {
width:70%;
margin:0 auto;
padding: 40px 0;
}
#resrourantMenu {
float:left;
width:33%;
}
#resrourantMenu p{
text-align: justify;
font-size:0.9em;
color: #c7cdc9;
}
#menuItems {
float:right;
width:66%;
}
.menuImages {
float:left;
margin:2%;
width:45%;
}

.menuImages img{
border-radius:10px;
 max-width: 100%;
    height: auto;
}
.sectionName {
height:40px;
background-color:black;
opacity: 0.8;
position:relative;
bottom:65px;
padding: 0 10px;
text-align:left;
line-height:40px;
}
.sectionName a {
color:white;
border-bottom: 1px dotted #fff;
text-decoration: none;
}
#menuSectionNav {
margin-top:20px;
}
#menuSectionNav a{
width:200px;
height:60px;
border: 1px solid white;
border-radius:10px;
opacity:0.8; 
display:block;
text-align:center;
color:white;
text-decoration:none;
line-height:60px;
margin:0px auto;
}
#menuSectionNav a:first-child {
background-color:#365529;
}

/* Events */

.event-button {
	display: block;
	width: 180px;
	padding: 14px 0;
	margin: 20px auto;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #0e0a0a;
}

.upcoming-event-img, .past-event-img {
	display: inline-block;
	border: 0.5px #999999 solid;
}

.upcoming-event-img {
	width: 160px;
	height: 160px;
}

.past-event-img {
	width: 80px;
	height: 80px;
}


/* Contact us */

.contact-form {
	width: 800px;
	margin: 70px auto 0 auto;
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.contact-form input[type=text], .contact-form textarea, .book-a-table-form input[type=text], .book-a-table-form textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.contact-form input[type=text] {
	width: 100%;
	height: 40px;
	padding: 6px 16px;
}

.contact-form textarea {
	width: 100%;
	height: 200px;
	margin-top: 16px;
	padding: 16px;
}

.contact-form ul {
	list-style-type: none;
	margin-top: 22px;
}

.contact-form ul li input {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	padding: 18px 0;
	margin: 0 auto;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.contact-form ul li input[type=submit] {
	float: right;
	color: white;
	background-color: #3d3d3d;
	width: 220px;
}

.contact-form ul li input[type=reset] {
	float: left;
	color: #999999;
	background-color: white;
	width: 200px;
}


/* Book a table */

.book-a-table {
    background-image: url(../../images/book-table.jpg);
    background-position: center;
}

.book-a-table-form-container {
    width: 500px;
    margin: 0 auto;
	padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-a-table-form {
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.book-a-table-form input[type=text] {
    width: 100%;
	height: 40px;
    padding: 0 0 0 0;
    margin: 12px 0 0 0;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.book-a-table-form textarea {
	width: 100%;
	height: 220px;
	margin-top: 16px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}

.book-a-table-form input[type=text], .book-a-table-form textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

#btn-book {
	color: white;
	background-color: #3d3d3d;
	width: 120px;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

/* Opening hours */
.opening-hours > div > p {
    
}

/* Footer */

.footer {
    margin: 50px auto 200px;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;    
    font-family: inherit;
    font-size: 15px
}

.footer ul li {
    display: inline-block;
    color: #777777;
}

.opening-hours {
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
	text-align: left;
    width: 600px; 
    margin: 100px auto; 
    color: #777777;
}

